body {
  margin: 0;
  font-family: 'Comfortaa', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

div {
  padding: 6vh;
  display: block;
}

form {
  width: 52vh;
  height: 64vh;
  border-radius: 2vh;
  box-shadow: 6px 6px 2px 1px rgba(255, 255, 255, 0.424);
  margin: auto;
  padding: 4vh;
  background-color: rgba(255, 255, 255, 0.786);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

h1 {
  margin-top: 0;
  margin-bottom: 6vh;
}

h2 {
  font-size: 5vh;
  text-align: center;
  margin-bottom: 2vh;
}

label {
  margin-bottom: 4vh;
}

input {
  margin-top: 1vh;
  width: 40vh;
  height: 6vh;
  border-radius: 2vh;
  padding-left: 2vh;
  border: 1px solid rgb(139, 138, 138);
}

input:hover {
  border: 1px solid rgb(19, 19, 67);
}

span {
  width: 43vh;
  color: gray;
  font-size: smaller;
  margin-top: -3vh;
  cursor: pointer;
}

button {
  margin-top: 4vh;
  width: 41vh;
  height: 6vh;
  border-radius: 2vh;
  border: 0;
  cursor: pointer;
  background-color: rgb(19, 19, 67);
  color: white;
  font-size: medium;
  font-family: 'Comfortaa', sans-serif;
}

button:not([disabled]):hover {
  background-color: rgb(4, 1, 108);
}

button:disabled {
  cursor: default;
  opacity: 0.5;
}

p {
  margin-bottom: 0;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  padding-left: 3vh;
}